@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400&display=swap');

:root, :root[data-theme='dark'] {
    --primary-color: #F0F0F0;
  
    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;
    --primary-border-color: #28292E;
      --secondary-border-color: #56575A;
  
    --title-color: #F0F0F0;
    --text-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #C7C8C9;
  }
  
  :root[data-theme='light'] {
    --primary-color: #0B0B0F;
  
      --primary-bg-color: #E9E9E9;
      --secondary-bg-color: #C7C8C9;
      --primary-border-color: #C7C8C9;
      --secondary-border-color: #9A9A9C;
  
      --title-color: #0B0B0F;
      --text-color: #28292E;
      --link-color: #28292E;
      --icon-color: #56575A;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

i {
    color: var(--icon-color);
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
}

.header_toggle{
    display: flex;
    justify-content: flex-end;
}

.header_brand .brand_logo{
    width: 3.25rem;
    height: 3.25rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
}


.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu-item{
    width: 100%;
}

.menu-mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--primary-border-color);
}

.menu-mobile .menu-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: .5rem;
}

.menu-link.active .menu_icon, 
.menu-link.active .menu_text,
.menu-link:hover .menu_icon, 
.menu-link:hover .menu_text{
    color: var(--primary-color);
    font-weight: 600;
}

.menu_icon, .menu_text{
    color: var(--text-color);
}

.menu_icon{
    font-size: 1.5rem;
}

.menu_text{
    font-size: .75rem;
    text-transform: uppercase;
}

.header_nav {
    display: none;
}


.menu-principal{
    gap: 1rem;
}

@media (min-width: 768px){

    .header{
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        padding: 1rem 4rem;
        background-color: var(--primary-bg-color);
    }

    .nav-mobile{
        display: none;
    }

    .header_nav {
        display: flex;
    }

    .header_nav,
    .header_toggle{
        min-width: 30%;
    }
}

@media (min-width: 1400px){
    .header{
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        padding: 1rem 15rem;
    }
}