@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400&display=swap');

:root, :root[data-theme='dark'] {
    --primary-color: #F0F0F0;
  
    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;
    --primary-border-color: #28292E;
      --secondary-border-color: #56575A;
  
    --title-color: #F0F0F0;
    --text-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #C7C8C9;
  }
  
  :root[data-theme='light'] {
    --primary-color: #0B0B0F;
  
      --primary-bg-color: #E9E9E9;
      --secondary-bg-color: #C7C8C9;
      --primary-border-color: #C7C8C9;
      --secondary-border-color: #9A9A9C;
  
      --title-color: #0B0B0F;
      --text-color: #28292E;
      --link-color: #28292E;
      --icon-color: #56575A;
  }

  html[data-theme='dark'] .brand_logo {
    filter: invert(1);
  }

  html[data-theme='light'] .skills {
    filter: invert(80%);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

a:hover{
    color: var(--primary-bg-color);
    font-weight: 600;
}

i {
    color: var(--icon-color);
}

b{
    font-weight: 400;
}

h1{
    font-size: 2.5rem;
    font-weight: 200;
}

h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

h1, h2, h3{
    font-family: 'League Spartan', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: var(--title-color);
    font-weight: 200;
}

p{
    font-size: 1.25rem;
    text-align: justify;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
}

.header_toggle{
    display: flex;
    justify-content: flex-end;
}

.header_brand .brand_logo{
    width: 3.25rem;
    height: 3.25rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}


.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu-item{
    width: 100%;
}

.menu-mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--primary-border-color);
}

.menu-mobile .menu-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: .5rem;
}

.menu-link.active .menu_icon, 
.menu-link.active .menu_text,
.menu-link:hover .menu_icon, 
.menu-link:hover .menu_text{
    color: var(--primary-color);
    font-weight: 600;
}

.menu_icon, .menu_text{
    color: var(--text-color);
}

.menu_icon{
    font-size: 1.5rem;
}

.menu_text{
    font-size: .75rem;
    text-transform: uppercase;
}

.header_nav {
    display: none;
}


.menu-principal{
    gap: 1rem;
}

main, .projects{
    padding: 2.5rem 1rem;
}

main{
    padding: 2.5rem 1rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.main_content1{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main_content2 iframe{
    width: 100%;
    aspect-ratio: 16/9;
}

.menu-social {
    gap: 1rem;
}

.btn{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 3.125rem;
    border: none;
    width: 100%;
    padding: 0.875rem 1.5rem;
    transition: ease-in-out .3s;
    color: var(--primary-color);
}

.btn:hover{
    transform: scale(1.05);
    transition: ease-in-out .3s;
    cursor: pointer;
}

.btn--primary span {
    color: var(--primary-color);
}

.btn--primary {
    border: 1px solid var(--primary-color);
}

.btn span, .btn i {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.technologies{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    padding: 6.25rem 1rem 2rem;
    background: var(--secondary-bg-color);
    margin-top: -5.5rem;
}

.technologies h2{
    text-transform: none;
    font-size: 2rem;
}

.technologies__list{
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
}

.technologies__item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    aspect-ratio: 1/1;
    border: 1px solid var(--secondary-border-color);
    border-radius: 50rem;
}

.technologies__logo{
    height: 2.4rem;
}

.projects{
    display: flex;
    flex-direction: column;
}

.projects__card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card__cover{
    width: 100%;
}

.card__body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
}

.card__title{
    font-size: 1.5rem;
}

.card__description{
    font-size: 1rem;
    color: var(--title-color);
}

.card__buttons{
    display: flex;
}

.card__body .technologies__item{
    width: 4rem;
    height: 4rem;
}

.card__body .technologies__logo{
    height: 2rem;
}

footer {
    margin-bottom: 5rem;
}
  
footer p {
    font-size: .875rem;
    text-align: center;
    padding: 1rem;
}

@media (min-width: 768px){

    .header{
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        padding: 1rem 4rem;
        background-color: var(--primary-bg-color);
    }

    .nav-mobile{
        display: none;
    }

    .header_nav {
        display: flex;
    }

    .header_nav,
    .header_toggle{
        min-width: 30%;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 3rem;
        letter-spacing: 0.4rem;
    }

    main, .projects{
        padding: 8rem 6rem 4rem 6rem;
    }

    .main_content1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .technologies{
        padding: 6.25rem 6rem 2rem 6rem;
        margin-top: -6rem;
    }

    footer {
        margin: 0;
    }
    
}

@media(min-width: 1200px){

    h2{
        font-size: 4rem;
    }

    main{
        padding: 12rem 6rem 2rem;
    }

    .main_content1 .btn{
        width: auto;
    }

    .technologies{
        flex-direction: row;
        justify-content: space-between;
        padding: 10rem 6rem 4rem 6rem;
    }

    .technologies h2{
        font-size: 3.5rem;
        width: 60%;
    }

    .technologies__item{
        width: 6rem;
        height: 6rem;
    }

    .technologies__list{
        gap: 1rem;
    }

    .technologies__logo{
        height: 3rem;
    }

    .projects__card{
        flex-direction: row;
    }

    .card__cover{
        width: 50%;
    }

    .card__title{
        font-size: 3.25rem;
    }

    .card__description, .card__item{
        font-size: 1.25rem;
    }

    .card__buttons .btn{
        width: auto;
    }
}

@media (min-width: 1400px){

    h1{
        font-size: 6.25rem;
    }

    h2{
        font-size: 5rem;
    }

    p{
        font-size: 1.5rem;
    }

    .header{
        padding: 1rem 15rem;
    }

    main{
        padding: 12rem 15rem 2rem;
    }

    .technologies{
        padding: 10rem 15rem 4rem;
    }
}